<div style="padding: 20px;">
  <h1>User Data Field Show</h1>

  <div class="main-content">
      <div><%= @field.id %>. <%= @field.code %> - <%= @field.label %></div>

    <%= link_to new_user_data_field_path do %>
      <button style="background-color: #0000FF;color: #FFFFFF;"> New Field </button>
    <% end %>

    <%= link_to 'Back', user_data_fields_path %>
  </div>
</div>